@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639908983811') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phoneNav:before {
  content: "\e613";
  font-size: 14px;
  color:#666;
  
}

