/* less变量 */
/* 设置页面内容的宽度为变量 */
/* 设置文本的主要颜色为变量 */
* {
  font-family: "宋体", "Microsoft YaHei", sans-serif, Arial;
  /* 设置字体 */
}
.clearfix::before,
.clearfix::after {
  /* 清除浮动 */
  content: "";
  display: table;
  clear: both;
}
/* ---------------------------------------------------------------- */
/* 顶部导航区域 */
nav {
  width: 1000px;
  background: #f5f5f5;
  margin: 0 auto;
  font-size: 12px;
}
nav > #navBox {
  /* 顶部导航栏 */
  height: 30px;
  /* 顶部导航区域左侧 */
  /* 顶部导航区域右侧 */
}
nav > #navBox > .left {
  /* 导航栏左侧 */
  height: 100%;
  float: left;
  /* 左浮动，使盒子位于左侧 */
}
nav > #navBox > .left > ul {
  height: 100%;
  display: flex;
  align-items: center;
}
nav > #navBox > .left > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}
nav > #navBox > .left > ul > li > .vertical-line {
  /* li的竖线 */
  position: absolute;
  left: -4px;
  font-size: 10px;
  color: #777;
}
nav > #navBox > .left > ul > li > a {
  /* li的a标签 */
  font-size: 12px;
  padding: 0 7px;
  color: #666;
  cursor: pointer;
}
nav > #navBox > .left > ul > li > a > span,
nav > #navBox > .left > ul > li > a > i {
  /* a标签中的文本和icon图标 */
  /* 设置垂直居中对齐 */
  display: inline-block;
  vertical-align: middle;
}
nav > #navBox > .left > ul > li > a:hover {
  /* 当划上用于li的a标签（包含icon图标）后文本变色 */
  color: #f40;
}
nav > #navBox > .left > ul > li > a:hover > span:hover {
  /* 当划上用于li的a标签（不含icon图标）的文本后文本添加下划线 */
  text-decoration: underline;
}
nav > #navBox > .left > ul > li > .alone-color {
  /* 给用于登录的a标签设置单独的字体颜色 */
  color: #f40;
}
nav > #navBox > .left > ul > .arrowNav_li {
  /* 带箭头的li盒子 */
  position: relative;
  /* 设置为参照物 */
  /* 设置线框 */
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
}
nav > #navBox > .left > ul > .arrowNav_li > .shelter-line {
  /* 下拉框上方border的的遮挡线*/
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #f5fafe;
  position: absolute;
  z-index: 100;
  bottom: -2px;
  left: 0px;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 {
  /*  “请登录”li的下拉框盒子 */
  position: absolute;
  top: 29px;
  left: -1px;
  width: 232px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  background: #f5fafe;
  color: #333;
  display: flex;
  flex-direction: column;
  /* 弹性盒主轴改为从上到下 */
  align-items: center;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > h3 {
  font-size: 14px;
  margin-bottom: 20px;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > a {
  width: 160px;
  height: 36px;
  background: #3A5E95;
  margin-bottom: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* 弹性盒主轴改为从上到下 */
  justify-content: center;
  align-items: center;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > a > p:first-child {
  font-size: 14px;
  padding-bottom: 2px;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > a:hover {
  /* 超链接盒子划上变色、添加下划线 */
  color: #f40;
  text-decoration: underline;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > .p1 {
  /* “产品多交易快服务好费率省”的文本 */
  font-size: 12px;
  line-height: 30px;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > .p1 > span {
  /* 突出文本 */
  font-size: 14px;
  font-weight: 600;
  color: #f40;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > .p2 {
  /* “客服热线”的文本 */
  font-size: 12px;
  color: gray;
}
nav > #navBox > .left > ul > .arrowNav_li > .DropDownBox1 > .p2 > span:last-child {
  /* “客服热线”电话号码的文本 */
  font-family: arial;
}
nav > #navBox > .left > ul > .arrowNav_li.arrowNav_add {
  /* 鼠标移入带箭头的li时增添的样式（使用交集） */
  border-color: #d4d4d4 #d4d4d4 transparent #d4d4d4;
  /* 设置只显示上右左三条线框 */
  background: #f5fafe;
}
nav > #navBox > .left > ul > .arrowNav_li:hover a > span,
nav > #navBox > .left > ul > .arrowNav_li:hover .icon-arrowNav::before {
  /* 当划上带箭头icon的li盒子a标签文本和icon变色 */
  color: #f40;
}
nav > #navBox > .right {
  /* 导航栏右侧 */
  height: 100%;
  float: right;
  /* 右浮动，使盒子位于右侧 */
}
nav > #navBox > .right > ul {
  height: 100%;
  display: flex;
  /* 设置浮动，块级元素li同行排列 */
  align-items: center;
}
nav > #navBox > .right > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}
nav > #navBox > .right > ul > li > .vertical-line {
  /* li的竖线 */
  position: absolute;
  left: -4px;
  font-size: 10px;
  color: #777;
}
nav > #navBox > .right > ul > li > a {
  padding: 0 7px;
  color: #666;
  cursor: pointer;
}
nav > #navBox > .right > ul > li > a > .icon-logo {
  /* “东方财富网”旁边的logo图 */
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url('../../image/sprites.png');
  /* 引入精灵图做背景图 */
  background-position: 0 -101px;
  /* 精灵图进行定位 */
}
nav > #navBox > .right > ul > li > a > span:hover {
  /* 当划上用于li的a标签（不含icon图标）的文本后文本添加下划线 */
  text-decoration: underline;
}
nav > #navBox > .right > ul > li > a > i,
nav > #navBox > .right > ul > li > a > span {
  /* a标签中的文本和icon图标 */
  /* 设置垂直居中对齐 */
  display: inline-block;
  vertical-align: middle;
}
nav > #navBox > .right > ul > li > a:hover {
  /* 当划上用于li的a标签（包含icon图标）后文本变色 */
  color: #f40;
}
nav > #navBox > .right > ul > li > .alone-color {
  /* 给用于基金交易的a标签设置单独的字体颜色 */
  color: #f40;
}
nav > #navBox > .right > ul > .arrowNav_li {
  /* 带箭头的li盒子 */
  position: relative;
  /* 设置为参照物 */
  /* 设置线框 */
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
}
nav > #navBox > .right > ul > .arrowNav_li > .shelter-line {
  /* 下拉框上方border的的遮挡线 */
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #f5fafe;
  position: absolute;
  z-index: 100;
  bottom: -2px;
  right: 0px;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox2,
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox3 {
  /*  “基金交易”、“产品交易”li的两个下拉框盒子 */
  width: 82px;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  border-top: 0;
  /* 去掉上线框 */
  background: #f5fafe;
  position: absolute;
  top: 29px;
  left: -1px;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox2 > ul > li > a,
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox3 > ul > li > a {
  padding: 0 7px;
  font-size: 12px;
  color: #333;
  line-height: 30px;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox2 > ul > li > a:hover,
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox3 > ul > li > a:hover {
  /* 划上a标签文本变色、添加下划线 */
  color: #f40;
  text-decoration: underline;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 {
  /*  “网站导航”li的两个下拉框盒子 */
  width: 640px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  background: #f5fafe;
  position: absolute;
  top: 29px;
  right: -1px;
  display: flex;
  justify-content: space-around;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 > .tableBox {
  /* 单独装表格的盒子 */
  position: relative;
  /* 设置参照物 */
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 > .tableBox > .vertical-line {
  /* 表格之间的竖直分割线 */
  width: 1px;
  height: 135px;
  background: #d4d4d4;
  position: absolute;
  right: -26px;
  top: 10px;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption {
  /* 表格的标题 */
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 7px;
  float: left;
  /* 移至左边 */
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > a {
  /* 表格的标题的“手机买基金”a标签 */
  font-size: 12px;
  font-weight: normal;
  color: #f40;
  /* 设置定位脱离文档流 */
  position: absolute;
  right: -16px;
  font-size: 0;
  /* 消除子行内元素间隙 */
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > a > span {
  /* “手机买基金”文本的样式 */
  font-size: 12px;
  vertical-align: middle;
  /* 设置同级盒子垂直居中对齐 */
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > a > .icon-phoneNav:before {
  /* “手机买基金”icon的样式 */
  font-size: 14px;
  color: #f40;
  vertical-align: middle;
  /* 设置同级盒子垂直居中对齐 */
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > a:hover span {
  /* 划上“手机买基金”文本的样式 */
  text-decoration: underline;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > span {
  /* “登录|开户”盒子 */
  font-weight: normal;
  /* 设置定位脱离文档流 */
  position: absolute;
  right: -10px;
  font-size: 0px;
  /* 消除子行内元素间隙 */
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > span > a {
  /* “登录|开户”盒子的a标签 */
  font-size: 12px;
  color: #f40;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > span > a:hover {
  /* “登录|开户”盒子的a标签 */
  text-decoration: underline;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > caption > span > span {
  /* 竖线 */
  font-size: 12px;
  color: #f40;
  padding: 0 3px;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > tbody > tr a {
  /* 表格中单元格的a标签 */
  padding: 0 7px;
  line-height: 30px;
}
nav > #navBox > .right > ul > .arrowNav_li > .DropDownBox4 table > tbody > tr a:hover {
  /* 划上表格中单元格的a标签 */
  color: #f40;
  text-decoration: underline;
}
nav > #navBox > .right > ul > .arrowNav_li.arrowNav_add {
  /* 鼠标移入带箭头的li时增添的样式（使用交集） */
  border-color: #d4d4d4 #d4d4d4 transparent #d4d4d4;
  /* 设置只显示上右左三条线框 */
  background: #f5fafe;
}
nav > #navBox > .right > ul > .arrowNav_li:hover a > span,
nav > #navBox > .right > ul > .arrowNav_li:hover .icon-arrowNav::before {
  /* 当划上带箭头icon的li盒子a标签文本和icon变色 */
  color: #f40;
}
.adv-image-1 {
  width: 1000px;
  height: 60px;
  background-image: url('../../image/adv-image-1.gif');
  margin: 0 auto;
}
