@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639970013264') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3barsNav:before {
  content: "\e61c";
  color:#f40;
  font-size: 10px;
}

